*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100vw;
  min-height: 100vh; /* Uncomment this line */
  background: #EAE7B1;
  border: transparent;
}


div.row{
  justify-content: center;
}
